form{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 150px;
	justify-content: space-between;
	margin-bottom: 10px;
}

.field{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px 0;
}

button{
	border: 2px solid darkgreen;
	background-color: green;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

#products{
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-auto-flow: 100px;
	justify-content: space-between;
	grid-row-gap: 30px;
	margin: 140px 30px;
}

.card{
	background-color: #1E90FF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.product_img{
	width: 150px;
	height: 150px;
	background-size: cover;
	background-position: center;
}

.close{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #fc96a8;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 25px;
	border-radius: 50%;
	top: -15px;
	right: -15px;
	cursor: pointer;
}